@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"); */

.overflow-y-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

.avatar-img::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  display: block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 0;
  background-image: -moz-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 6px 6px;
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
}

.cv-btn:hover .icon {
  @apply animate-bounce;
}

.title::after {
  position: absolute;
  opacity: 0.45;
  top: -10%;
  left: -12px;
  content: "";
  height: 25px;
  width: 25px;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #ffffff,
    #ffffff 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    #ffffff,
    #ffffff 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    #ffffff,
    #ffffff 1px,
    transparent 0px,
    transparent 100%
  );
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
  z-index: -1;
}
